<div class="modal-header">
  <h5 class="modal-title">Book Details</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul>
    <li><b>Title: </b><br> {{bookdata.title}}</li>
    <li><b>Description: </b><br>{{bookdata.description}}</li>
    <li><b>ISBN Number: </b><br>{{bookdata.isbn}}</li>
    <li><b>Author: </b><br> {{bookdata.author}}</li>
    <li><b>Publication Date: </b><br> {{bookdata.pub_date | date: 'dd-MM-yyyy HH:mm:ss'}}</li>
    <li><b>Genre: </b><br> {{bookdata.genre}}</li>
    <li><b>Price: </b><br> {{bookdata.price}}</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
